.logo {
  height: 100px;
  width: 100px;
  background-color: turquoise;
  float: left;
  padding-right: 20px;
}

.searchbox {
  height: 100px;
  width: 80%;
  background-color: turquoise;
  float: left;
}

.search {
  height: 40px;
  width: 60%;
  background-color: tomato;
  margin-top: 1%;
}

.infotab {
  height: 40px;
  width: 100%;
  background-color: rgb(236, 105, 105);
  padding-right: 10px;
}

.texbox {
  height: 40px;
  width: 60px;
  background-color: white;
  float: left;
  margin: 2px;
}

.texboxright {
  height: 40px;
  width: 60px;
  background-color: white;
  float: right;
  margin: 2px;
}

.lastbar {
  height: 100px;
  width: 150px;
  background-color: turquoise;
  float: left;
}

.lastbox {
  height: 50px;
  width: 100px;
  background-color: violet;
}
