/* Styling of whole section    */
#parent {
  width: 70%;
  margin: auto;
}
#container {
  display: grid;
  grid-template-columns: 60% 35%;
  grid-gap: 5%;
}
/* #cart {
  height: 400px;
} */
#checkout-details {
  height: 100%;
}

/* Styling of right block    */

.address-div {
  background-color: #f4f7fb;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
}
.address-div > div {
  margin: 0;
}

#checkout-details button {
  width: 100%;
  display: block;
  margin: 1.5em 0;
  padding: 1.1em;
  border-radius: 0.5em;
}

.address-change {
  display: flex;
  margin: 0;
}
.address-change > h4 {
  flex-grow: 2;
}
.address-change > a {
  text-decoration: none;
  margin-top: 1.2em;
  margin-right: 0.4em;
  color: green;
}
.address-change + p {
  margin: 0;
  font-size: 0.9em;
  margin-bottom: 4%;
}
.address-bot {
  margin: 3%;
  border-top: 1px dashed #ccc;
  font-size: 0.9em;
}
.address-bot > p {
  float: left;
  padding: 0.5em;
}
.address-bot > h4 {
  float: right;
  padding: 0 0.5em;
}
.apply-btn {
  border: 2px solid #2a6965;
  background-color: #fff;
  color: #2a6965;
}
.buy-btn {
  background-color: #2a6965;
  color: #fff;
  border: none;
}
.order-text {
  float: left;
}
.order-value {
  float: right;
}

/* Styling of cart items    */
.cart-img {
  float: left;
  height: 125px;
}
.cart-item > div {
  border: 1px solid #ccc;
  height: 100%;
  border-radius: 0.5em;
}
.cart-items-list {
  list-style-type: none;
}
.cart-item {
  list-style-type: none;
}




 /* cart */

 #parentCart{
   width: 90%;
   margin: auto;
 }

 #cartcontainer div {
      width: 450px;
      height: 250px;
      background-color: rgb(255, 255, 255);
      margin: 3%;
      border: 0.5px solid gray;
      padding: 20px;
    }

    .productname {
      float: right;
      font-weight: bold;
      margin-right: 100px;
      color: #4F585E;
      line-height: 20px;
      text-align: left;
      

    }

    #cartcontainer img {
      height: 150px;
      width: 150px;
    }

    .brand {
      font-weight: lighter;
    }

    .del {

      float: right;
 
    }
    #Address {
      float: right;
      margin-right: 20%;
      width: 200px

    } 

    #Address input{
      border: 1px solid teal;
      width: 100%;
      height: 40px;
    }

   #Address #ammount{
font-weight: 700;
color: gray;
 text-align: center;

font-size: 20px;
    }

    #Address button{
         border: 1px solid teal;
      width: 100%;
      height: 40px;

    }

    #Address #payment{
      font-weight: 700;
      font-size: 16px;
      color: teal;
      font-family: sans-serif;
    }