.drawerbar {
  position: fixed;
  right: 0px;
  width: 400px;
  height: 100%;
  background-color: #fff;
  text-align: left;
  transition: 0.8s ease;
  font-family: arial;
  z-index: 99999999999;
}

.drawer-item {
  display: flex;
}

.drawer-link {
  font-size: 1.1em;
  padding: 1em;
  flex: 1;
}
.toggle-collapse {
  float: left;
  margin-left: -3.3em;
  margin-top: 0.5em;
  outline: inherit;
  border: 0px;
}
.toggle-icon,
.toggle-icon::before,
.toggle-icon::after {
  width: 30px;
  height: 30px;
  position: fixed;
  background-color: #37857e;
  border: 1px solid #37857e;
  cursor: pointer;
  transition: 0.8e ease;
  margin-top: 0.8em;
  color: #fff;
}
.toggle-icon::before {
  position: absolute;
  left: -1px;
  margin-top: -0.8em;
}
.toggle-icon::after {
  position: absolute;
  left: -1px;
  margin-top: -0.6em;
  width: 20px;
}
.toggle-icon {
  width: 50px;
  height: 50px;
}
.show .toggle-icon::after {
  width: 30px;
}

.site-div {
  background-color: #37857e;
  height: 100px;
  width: 100%;
}
.site-div > img {
  width: 50%;
  float: left;
  padding: 1em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.drawer-item {
  width: 90%;
  padding: 0 5%;
  border-radius: 0.5em;
}
.drawer-item + button {
  width: 90%;
  margin: 2% 5%;
  background-color: #37857e;
  border: none;
  padding: 3%;
  color: #fff;
  border-radius: 0.5em;
}
.drawer-item + button + h6 {
  width: 90%;
  margin: 2% 5%;
  padding: 3%;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-family: arial;
}
.drawer-item + button + h6 > a {
  text-decoration: none;
  color: #37857e;
}
