/* All the main changes in homepage design will be done here. */
#safety-measures {
  display: flex;
  flex-direction: row;
}
#safety-measures > div {
  height: 125px;
  margin: 1%;
}
#safety-measures img {
  height: 100%;
}
#main-offer {
  height: 150px;
  margin: 1%;
}
#main-offer > img {
  height: 100%;
}
#main-orders {
  display: flex;
  flex-direction: row;
}
#main-orders > div {
  height: 195px;
  margin: 1%;
  flex-basis: 30%;
}
#main-orders img {
  height: 100%;
  border-radius: 5px;
  border: 1px solid silver;
}

/* //footer */
body {
  margin: 0;
}
.navbar {
  display: flex;
  width: 100%;
  height: 125px;
  flex-direction: column;
  background-color: #37857e;
}
.navbar-top {
  display: flex;
  flex-direction: row;
  height: 75px;
  border-top: 1px solid #000;
}
.navbar-logo {
  flex-basis: 15%;
  text-align: center;
}
.navbar-logo > img {
  width: 80%;
  padding: 5%;
}
.navbar-search {
  flex-basis: 70%;
}
.navbar-side {
  flex-basis: 15%;
}
#search-box {
  width: 90%;
  height: 50px;
  margin: 10px 0 0 5%;
  justify-self: center;
  background-color: #fff;
  border-radius: 5px;
}
#nav-btn {
  text-align: left;
  background-color: #2c6c67;
  border: 1px solid #2c6c67;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: #fff;
  font-weight: 50px;
}
#city {
  height: 95%;
  width: 100px;
  color: #37857e;
  font-size: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #fff;
}
.navbar-side span {
  font-size: 0.8rem;
}
#search-box > input {
  height: 92%;
  width: 82.3%;
  font-size: 0.9rem;
  padding: 0 10px;
  border: 1px solid #fff;
}
#search-box > button {
  height: 50px;
  width: 50px;
  margin: 0px;
  background-color: #f2f2f2;
  border: 1px solid #fff;
  border-radius: 50%;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.navbar-tab {
  flex-basis: 60%;
}
.navbar-button {
  flex-basis: 40%;
}
.arrow {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#tab-nav {
  height: 100%;
  margin-left: 30%;
  width: 600px;
}
.tab1 {
  height: 95%;
  margin: 0px;
  color: #fff;
  background-color: #37857e;
  font-size: 1.2rem;
  border: none;
}
.tab1:hover {
  text-decoration: underline;
}
#btn-nav {
  height: 100%;
  margin-right: 5%;
}
.tab2 {
  height: 95%;
  margin: 0px;
  color: #fff;
  background-color: #37857e;
  font-size: 1.2rem;
  border: none;
  margin-left: 10%;
}
.tab2:hover {
  text-decoration: underline;
}
.slideshowdiv {
  margin: 0;
  padding: 0;
}
#slideShow img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#slide {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

.slideshow-container {
  width: auto;
  position: relative;
  margin: -10px;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #494b55;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #10847e;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.pics {
  position: relative;
  width: 100%;
  height: 250px;
}

.dots {
  text-align: center;
  width: 200px;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-left: -50px;
}

#parent {
  max-width: 95%;
  margin: auto;
}

.frame {
  margin: auto;
  display: grid;
  width: 100%;
  grid-gap: 10px;
  padding: 5px;
  grid-template:
    "a c d f"
    "b c e f";
}

.block1 {
  grid-area: a;
}
.block2 {
  grid-area: b;
}
.block3 {
  grid-area: c;
}
.block4 {
  grid-area: d;
}
.block5 {
  grid-area: e;
}
.block6 {
  grid-area: f;
}
.block7 {
  width: 100%;
}

.block7 img {
  max-width: 35px;
  height: 25px;
  padding: 5px;
  margin-bottom: 30px;
}

.block7 span {
  float: right;
}

.block6 img {
  max-width: 30px;
  height: 30px;
  margin: 5px;
}
.frame {
  margin-top: 40px;
}

.frame div,
span {
  margin-top: 10px;
  font-family: Open Sans, sans-serif !important;
  font-size: 15px;
  color: #4f585e;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}
.hedding {
  font-size: 17px !important;
  font-weight: 700 !important;
  letter-spacing: 0;
  text-align: left;
  color: #4f585e !important;
}
.block7 .hedding,
.block7 img {
  margin-top: 10px;
}
.companyDescription p,
.topSellingProducts p {
  font-size: 12px;
  display: inline-block;
  color: #4f585e;
  font-weight: 500;
}

.paraHeadding,
.topSellingProducts span {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin: 10px 0px;
  color: #4f585e;
}
.descriptionHeading {
  font-size: 15px;
  color: #4f585e;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-top: 20px;
}
.h1 {
  font-size: 26px;
  margin-bottom: 60px;
  font-weight: 700;
  color: #4f585e;
  padding-bottom: 15px;
  line-height: 1.8;
  margin-top: 20px;
  font-family: Open Sans, sans-serif !important;
}

.h2 {
  font-size: 24px;
  font-weight: 700;
  color: #4f585e;
  padding-bottom: 15px;
  line-height: 1.8;
  font-family: Open Sans, sans-serif !important;
}

.downlodeApp {
  height: 350px;
  display: flex;
}

.img1 img,
.img2 img {
  width: 163px;
  height: 50px;
}

#imagePhone img {
  position: absolute;
  right: 100px;
  top: 20px;
  bottom: 0;
  max-height: 320px;
}
.playStore {
  max-width: 70%;
  display: flex;
  justify-content: space-between;
}

#parent {
  max-width: 95%;
  margin: auto;
}

.frame {
  margin: auto;
  display: grid;
  width: 100%;
  grid-gap: 10px;
  padding: 5px;
  grid-template:
    "a c d f"
    "b c e f";
}

.block1 {
  grid-area: a;
}
.block2 {
  grid-area: b;
}
.block3 {
  grid-area: c;
}
.block4 {
  grid-area: d;
}
.block5 {
  grid-area: e;
}
.block6 {
  grid-area: f;
}
.block7 {
  width: 100%;
}

.block7 img {
  max-width: 35px;
  height: 25px;
  padding: 5px;
  margin-bottom: 30px;
}

.block7 span {
  float: right;
}

.block6 img {
  max-width: 30px;
  height: 30px;
  margin: 5px;
}
.frame {
  margin-top: 40px;
}

.frame div,
span {
  margin-top: 10px;
  font-family: Open Sans, sans-serif !important;
  font-size: 15px;
  color: #4f585e;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}
.hedding {
  font-size: 17px !important;
  font-weight: 700 !important;
  letter-spacing: 0;
  text-align: left;
  color: #4f585e !important;
}
.block7 .hedding,
.block7 img {
  margin-top: 10px;
}
.companyDescription p,
.topSellingProducts p {
  font-size: 12px;
  display: inline-block;
  color: #4f585e;
  font-weight: 500;
}

.paraHeadding,
.topSellingProducts span {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin: 10px 0px;
  color: #4f585e;
}
.descriptionHeading {
  font-size: 15px;
  color: #4f585e;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-top: 20px;
}
.h1 {
  font-size: 26px;
  margin-bottom: 60px;
  font-weight: 700;
  color: #4f585e;
  padding-bottom: 15px;
  line-height: 1.8;
  margin-top: 20px;
  font-family: Open Sans, sans-serif !important;
}

.h2 {
  font-size: 24px;
  font-weight: 700;
  color: #4f585e;
  padding-bottom: 15px;
  line-height: 1.8;
  font-family: Open Sans, sans-serif !important;
}

.downlodeApp {
  position: relative;
  height: 350px;
  display: flex;
}

.img1 img,
.img2 img {
  width: 163px;
  height: 50px;
}

#imagePhone img {
  position: absolute;
  right: 100px;
  top: 20px;
  bottom: 0;
  max-height: 320px;
}
.playStore {
  max-width: 70%;
  display: flex;
  justify-content: space-between;
}

/* auto suggestion box
 */
 #suggestion {
  
/*  visibility: hidden;
 */  position: relative;
  background-color:white;
  
  top: 0px;
  bottom: 10px;
  z-index: 2;
  overflow: hidden;
  border-radius: 10px;
}

#suggestion > div {
  padding: 15px;
  font-size: 15px;
  color: rgb(10, 10, 10);
  border-top: 1px solid #666;
  cursor: pointer;

}

#suggestion > div:hover{
  background-color: #4f4cdd;
}