/* botDiv.style.borderTop = "1px dashed #ccc";
  topDiv.style.padding = "10px";
  inDiv.style.float = "left";
  img.style.marginTop = "10px";
  inDiv.style.padding = "0px 10px";
  botDiv.style.clear = "both";
  botDiv.style.width = "100%";
  code.style.float = "left";
  code.style.marginTop = "5px";
  code.style.padding = "0 10px";
  a.style.marginTop = "5px";
  a.style.float = "right";
  a.style.padding = "0 10px";
  topDiv.style.width = "100%";
  div.style.width = "400px";
  div.style.margin = "100px";
  div.style.border = "1px solid #ccc";
  div.style.borderRadius = "5px";
  div.style.display = "flex";
  div.style.flexDirection = "column"; */
main {
  font-family: "Open Sans", sans-serif;
  padding: 0 7%;
}
#path {
  padding: 0 11%;
  margin: 0;
}
#path > a {
  text-decoration: none;
}
